@import"reset.css";
@import"uppermenu.css";
@import"titlebox.css";
@import url('https://fonts.googleapis.com/css?family=Stylish&display=swap');
@import"article.css";
@import"footer.css";
@import"section.css";
@import"nav.css";
@import"mobile.css";


a{
    text-decoration: none;
}

    li{
        list-style:none;
        padding:12px 5px;
        text-align: center;
        
        
        }
     



@keyframes float {
    0% {
        transform: translateY(20px);
      box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    }
    50% {
        transform: translateY(10px);
      box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    }
    100% {
        transform: translateY(20px);
      box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    }

}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
body{
    background-color:white;
    padding:10px 20px;
    color:#020202;
    font-family: 'Stylish', sans-serif;
    height: 1000px;
}


*{
    box-sizing: border-box;
}

.main_img{
    right: 0px;
    margin-bottom: 50px;
   width: 90%;
   height: 70%;
    margin-right: 80px;
 
}

.main_column1:hover{
   background-color: rgb(245, 202, 210);
}

 .main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}



.main_ex{
    font-size: 18px;
    text-align: center;
    padding: 40px;
}

.main_column1{
    width: 120%;
    height: 100%;
    background-color: #f7f7f79d;
    border-radius: 40px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    transform: translateX(30px);
    animation: float 3s linear infinite forwards;
    
}


  
  main {
    animation: fadeIn 0.5s ease-in-out;
  }

  .movie{
    margin-top: 40px;
  }